# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Environment files
.env
.env.local
.env.*.local
*/.env
*/.env.local
*/.env.*.local

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Data and model files
data/
models/
*.pkl
*.joblib

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
logs/
*.log

# Vector databases
chroma/
pinecone/

*/chroma_store/
*/chroma_test_store/
